<extend name="Include:base"/>
<block name="title">社刊管理</block>
<block name="content">
	<table class="table table-bordered">		
		<volist name="result" id="vo">
		<tr>
			<td><a href="{:U('Hjlist/showPage')}?id={$vo.id}" target="_blank">{$vo.id}</a></td>
			<td>{$vo.list}</td>
			<td>{$vo.qihao}</td>
			<td><a href="http://{$vo.list}" target="_blank">{$vo.name}</a></td>
			<td><a href="{:U('Hjlist/showPage')}?id={$vo.id}" target="_blank">查看详情</a></td>
		</tr>
		</volist>
	</table>

	{$page}

</block>